<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>
    
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/css/owl.css">
    <link rel="stylesheet" href="/static/css/lightbox.css">
<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Hostel</em> School</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li class="has-submenu"><a href="#section2">HOSTEL OWNER</a>
          <ul class="sub-menu">
            <li><a href="/view_requested_hostelowner#aa" class="external">Requests</a></li>
            <li><a href="/view_approved_hostelowner#aa" class="external">Approved</a></li>

          </ul>
        </li>
        <li><a href="/view_user#aa" class="external">USER</a></li>
        <li><a href="/view_rating#aa" class="external">RATING</a></li>
        <li><a href="/view_feedback#aa" class="external">FEEDBACK</a></li>
        <li><a href="/view_comaplint#aa" class="external">COMPLAINT</a></li>
          <li><a href="/logout">LOGOUT</a></li>

      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
{#      <video autoplay muted loop id="bg-video">#}
{#          <source src="/static/images/course-video.mp4" type="video/mp4" />#}
{#      </video>#}
      <img src="/static/images/hostel.jpg" alt="" height="750">



      <div class="video-overlay header-text">
          <div class="video-overlay header-text">
          <div class="caption">
{#              <h6>Graduate School of Management</h6>#}
              <h2 class="mt-5"><em>Welcome</em> Green Garden</h2>
{#              <div class="main-button">#}
{#                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>#}
{#              </div>#}
          </div>
      </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

{##}
{#  <section class="features">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-lg-4 col-12">#}
{#          <div class="features-post">#}
{#            <div class="features-content">#}
{#              <div class="content-show">#}
{#                <h4><i class="fa fa-pencil"></i>All Courses</h4>#}
{#              </div>#}
{#              <div class="content-hide">#}
{#                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>#}
{#                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>#}
{#                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>#}
{#            </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-12">#}
{#          <div class="features-post second-features">#}
{#            <div class="features-content">#}
{#              <div class="content-show">#}
{#                <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>#}
{#              </div>#}
{#              <div class="content-hide">#}
{#                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>#}
{#                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>#}
{#                <div class="scroll-to-section"><a href="#section3">Details</a></div>#}
{#            </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-12">#}
{#          <div class="features-post third-features">#}
{#            <div class="features-content">#}
{#              <div class="content-show">#}
{#                <h4><i class="fa fa-book"></i>Real Meeting</h4>#}
{#              </div>#}
{#              <div class="content-hide">#}
{#                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet. Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>#}
{#                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.</p>#}
{#                <div class="scroll-to-section"><a href="#section4">Read More</a></div>#}
{#            </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose Hostel</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Top Rooms</a></li>
              <li><a href='#tabs-2'>Best Foods</a></li>
              <li><a href='#tabs-3'>Nice Study Area</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/images/hostel_room.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Top Rooms</h4>
                      <p> Most people know that hostels have dorms, which are basically large rooms that sleep between 4 and 16 people. By staying in a dorm room, you can pay a fraction of the price per night compared to other types of accommodation; in general, the more people you share your dorm with, the cheaper it will be</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/images/hoste_fooodd.jpg" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Best Foods</h4>
                    <p>Food writing shines when it's specific to the food's particular flavor, texture, or smell, making it more evocative and precise. Rather than describing a soup as “tasty” or “scrumptious,” try more specific words like “buttery,” “chunky,” or “minty.”</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/images/studyyy.webp" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Nice Study Area</h4>
                      <p>Study areas are geographic boundaries created in Business Analyst used to define the extent of your analysis. They are typically created when starting a project to ensure that your data is confined to a specified area.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section coming-soon" data-section="section3" id="aa">
    <div class="container">
      <div class="row">

          <div class="col-12">
              {% block body %}
              {% endblock %}
          </div>

      </div>
    </div>
  </section>

{#  <section class="section courses" data-section="section4">#}
{#    <div class="container-fluid">#}
{#      <div class="row">#}
{#        <div class="col-md-12">#}
{#          <div class="section-heading">#}
{#            <h2>Choose Your Course</h2>#}
{#          </div>#}
{#        </div>#}
{#        <div class="owl-carousel owl-theme">#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-01.jpg" alt="Course #1">#}
{#            <div class="down-content">#}
{#              <h4>Digital Marketing</h4>#}
{#              <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-01.png" alt="Author 1">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-02.jpg" alt="Course #2">#}
{#            <div class="down-content">#}
{#              <h4>Business World</h4>#}
{#              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-02.png" alt="Author 2">#}
{#              </div>#}
{#              <div class="text-button-free">#}
{#                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-03.jpg" alt="Course #3">#}
{#            <div class="down-content">#}
{#              <h4>Media Technology</h4>#}
{#              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-03.png" alt="Author 3">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-04.jpg" alt="Course #4">#}
{#            <div class="down-content">#}
{#              <h4>Communications</h4>#}
{#              <p>Download free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-04.png" alt="Author 4">#}
{#              </div>#}
{#              <div class="text-button-free">#}
{#                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-05.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Business Ethics</h4>#}
{#              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-05.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-01.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Photography</h4>#}
{#              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-01.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-free">#}
{#                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-02.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Web Development</h4>#}
{#              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-02.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-free">#}
{#                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-03.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Learn HTML CSS</h4>#}
{#              <p>You can get free images and videos for your websites by visiting Unsplash, Pixabay, and Pexels.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-03.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-04.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Social Media</h4>#}
{#              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-04.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-05.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Digital Arts</h4>#}
{#              <p>Quisque cursus augue ut velit dictum, quis volutpat enim blandit. Maecenas a lectus ac ipsum porta.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-05.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-free">#}
{#                <a href="#">Free <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="item">#}
{#            <img src="/static/images/courses-01.jpg" alt="">#}
{#            <div class="down-content">#}
{#              <h4>Media Streaming</h4>#}
{#              <p>Pellentesque ultricies diam magna, auctor cursus lectus pretium nec. Maecenas finibus lobortis enim.</p>#}
{#              <div class="author-image">#}
{#                <img src="/static/images/author-01.png" alt="">#}
{#              </div>#}
{#              <div class="text-button-pay">#}
{#                <a href="#">Pay <i class="fa fa-angle-double-right"></i></a>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
{#  #}
{##}
{#  <section class="section video" data-section="section5">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-md-6 align-self-center">#}
{#          <div class="left-content">#}
{#            <span>our presentation is for you</span>#}
{#            <h4>Watch the video to learn more <em>about Grad School</em></h4>#}
{#            <p>You are NOT allowed to redistribute this template ZIP file on any template collection website. However, you can use this template to convert into a specific theme for any kind of CMS platform such as WordPress. You may <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> for details.#}
{#            <br><br>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam felis non ante.</p>#}
{#            <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External URL</a></div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#          <article class="video-item">#}
{#            <div class="video-caption">#}
{#              <h4>Power HTML Template</h4>#}
{#            </div>#}
{#            <figure>#}
{#              <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play"><img src="/static/images/main-thumb.png"></a>#}
{#            </figure>#}
{#          </article>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
{##}
{#  <section class="section contact" data-section="section6" id="login">#}
{#    <div class="container" >#}
{#            <div class="row">#}
{#             <div class="col-2"></div>#}
{#             <div class="col-8">#}
{##}
{#                 <form id="form1" name="form1" method="post" action="/login_post">#}
{#                 {% csrf_token %}#}
{#                           <input type="text" name="textfield" id="textfield" /></td>#}
{#                           <input type="password" name="textfield2" id="textfield2" /></td>#}
{#                           <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Login" /></th>#}
{#                 </form>#}
{#             </div>#}
{#             <div class="col-2"></div>#}
{#            </div>v#}
{#        </div>#}
{#  </section>#}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p><i class="fa fa-copyright"></i> Copyright 2023 by Amaya

           Distributed By: <a href="https://themewagon.com" rel="sponsored" target="_blank">Riss Technologies</a>
          
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/tabs.js"></script>
    <script src="/static/js/video.js"></script>
    <script src="/static/js/slick-slider.js"></script>
    <script src="/static/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>
</html>