{% extends "admin/admin_index.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr class="text-warning bg-dark">
      <th scope="col">#</th>
      <th scope="col">DATE</th>
      <th scope="col">REVIEW</th>
      <th scope="col">RATING</th>
      <th scope="col">HOSTEL</th>
      <th scope="col">USER</th>
    </tr>
      {% for i in data %}
    <tr class="text-white">
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.review }}</td>
      <td>{{ i.rating }}</td>
      <td>{{ i.HOSTEL.name }}</td>
      <td>{{ i.USER.name }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}