<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/add_hostel">add hostel</a></td>
    </tr>
    <tr>
      <td><a href="/view_hostel">view hostel</a></td>
    </tr>
    <tr>
      <td><a href="/add_room">add room</a></td>
    </tr>
    <tr>
      <td><a href="/view_room">view room</a></td>
    </tr>
    <tr>
      <td><a href="/add_food">add food</a></td>
    </tr>
    <tr>
      <td><a href="/view_food">view food</a></td>
    </tr>
    <tr>
      <td><a href="/view_room_request">view room request</a></td>
    </tr>
    <tr>
      <td><a href="/view_approved_room">view approved room requests</a></td>
    </tr>
    <tr>
      <td><a href="/view_rating_review">view rating and feedback</a></td>
    </tr>
    <tr>
      <td><a href="/add_notification">add notification</a></td>
    </tr>
    <tr>
      <td><a href="/view_notification">view notification</a></td>
    </tr>
    <tr>
      <td><a href="/send_feedback">send feedback</a></td>
    </tr>
    <tr>
      <td><a href="/change_password">change password</a></td>
    </tr>
    <tr>
      <td><a href="/view_updated_food_status">view updated food status</a></td>
    </tr>
    <tr>
      <td>&nbsp;<a href="/add_laundry">Add Laundry</a> </td>
    </tr>
       <tr>
      <td>&nbsp;<a href="/view_laundry">View Laundry</a> </td>
    </tr>

      <tr>
      <td><a href="/">chat with user</a></td>
    </tr>

  </table>
</form>
</body>
</html>
