{% extends "hostel_owner/Hostelowner_index.html" %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
     <style>
        th {color: #fda21b}
    </style>
</head>

<body>
<form action="/update_room_post/{{ data.id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">ROOM NO</th>
      <td>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.Room_no }}" class="form-control" required  /></td>
    </tr>
    <tr>
      <th scope="row">VACCANCY</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.vaccancy }}" class="form-control" required  /></td>
    </tr>
    <tr>
      <th scope="row">AMOUNT</th>
      <td>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.amount }}" class="form-control" required  /></td>
    </tr>
    <tr>
      <th scope="row">FLOOR</th>
      <td>
      <input type="text" name="textfield" id="textfield"  value="{{ data.floor }}"  class="form-control" required /></td>
    </tr>
      <tr>
      <th scope="row">TYPE</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.type }}" class="form-control" required  /></td>
    </tr>
    <tr>
      <th scope="row">IMAGE</th>
      <td><img src="{{ data.image }}" width="100" height="100">
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>
      <tr>
          <th colspan="2" scope="row"><div align="center" ><input type="submit" name="button" id="button" value="Update" class="btn btn-danger "/></div></th>
    </tr>
  </table>
</form>
</body>
</html>

{% endblock %}
